 
body{
    background-color: ;
}

#elemcenter{
    border:3px solid  #00adb5;
    border-radius: 10px;
    width: 500px;
    height: 16rem;
    margin: auto;
    margin-bottom: 2%;

}
/*for the buttons*/

#instruction,#help,#btnmoyen,#btndiff,#chx1,#chx2,#chx3,#chx4{
    display: none;

}
#instruction{
     border: 2px solid orangered;
     border-radius: 5px;
     width: 200px;
     margin: auto;
     color:#00adb5;
     margin-top: 3%;
     font-family: 'Courier New', Courier, monospace;
     font-size: 0.9rem;
}
#btn{
  width: 200px;
  margin: auto;
}
button{
    width: 100px;
    height: 3rem;
    border: 2px solid  #222831 ;
    border-radius: 5px;

}
.choix{
  width: 200px;
  margin: auto;
}
.choix button{
  width: 150px;
  height: 60px;
  border: 2px solid tomato;
  border-radius: 10px;
}

/*for the sabject*/
.suj{
    width:300px;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3rem;
    color:green;
}


 /*CSS for the header and footer*/
 :root {
  --body-bg-color: #eee;
  --header-background-color: #000000;
  --secondary-font: "Lato", sans-serif;
  --defination-title-color: #222831;
  --footer-background-color : #393E46;
}


header {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 7rem;
  background-color: rgb(0, 0, 0);
  background-color: #393E46;
  /* position: sticky;
  top: 0;
  left: 0; */
  z-index: 100000;
  /* pointer-events: none;
  touch-action: none; */
  margin-bottom: 3rem;
}

header > div {
  width: calc(100% - 3rem);
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#title {
  width: 100%;
}
#title .parent {
  line-height: 1em;
  color: #00adb5;
}
#title .name {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Slackey", cursive;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #00adb5;
}

#reference {
  display: flex;
}
#reference > a {
  color: #EEEEEE;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#reference > a + a {
  margin-left: 1rem;
}
/* footer css */

footer{
  width: 86vw;
  height: 10rem;
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem;
}

.footer-left {
  width: 20rem;
  height: 10rem;
  
}

.footer-left h3{
  color: #00adb5;
  font-family: "Slackey", cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.footer-left h3 span{
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.footer-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.footer-links a,
.footer-links p{
  color: #eee;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 2rem 0.2rem 1rem;
}



.footer-right{
  width: 20rem;
  height: 13rem;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right h4{
  font-size: 0.9rem;
  color: white;
  margin-bottom: 1.5rem;
}

.footer-company-about{
  font-size: 0.8rem;
  font-weight: 400;
  color: #c6c6c6;
  line-height: 1.3rem;
}

@media (max-width : 760px){

  footer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100vw;
    height: 30rem;
    align-items: center;
    justify-content: space-around;
  }

  .footer-left{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .footer-right{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-company-about{
    width: 18rem;
    text-align: center;
  }

}

/* media query for the details tag in smaller screen size. */

@media (max-width: 670px) {
  .detail-section {
    flex-direction: column;
  }
}


@media (max-width: 500px){

  #reference {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
  }

  #reference > a {
    color: #EEEEEE;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }

  #reference > a + a {
    margin-left: 0rem;
  }
  
}