body{
  background-color: wheat;
  
} 

#bodysection{
    background-image: url(../assets/img1.jpg);
    

}

#elemcenter{
  background-color:wheat;
    border:3px solid  #00adb5;
    border-radius: 10px;
    width: 500px;
    height: 19rem;
    margin: auto;
    margin-bottom: 1%;
    opacity: 0.8;
    

}
.bokotra{
  color:#222831;
  font-weight: bold;
}
/*for the buttons*/

#instruction,#help,#btnmoyen,#btndiff,#chx1,
#chx2,#chx3,#chx4,#input,#btnafapo,#btnakam,#btnhelp,#prev{
    display: none;

}
/*for the instruction and the help element*/

#instruction{
     border: 2px solid orangered;
     border-radius: 5px;
     width: 200px;
     margin: auto;
     color:#00adb5;
     margin-top: 3%;
     font-family: 'Courier New', Courier, monospace;
     font-size: 0.9rem;
     background-color: #EEEEEE;
}
#help{
  border: 2px solid orangered;
     border-radius: 5px;
     width: 200px;
     margin: auto;
     color:#00adb5;
     margin-top: 3%;
     font-family: 'Courier New', Courier, monospace;
     font-size: 0.9rem;
}
.navkel{
  width: 200px;
  height: 20px;
  background-color:#00adb5;

}
.close{
   width: 50px;
   height: 20px;
   background-color:red;
   padding-left: 0%;
   align-items: right;
}
#btn{
  width: 200px;
  margin: auto;
}
/*btn qui se montrent premierement*/
#btnlalao,#btninstr{
  width:200px;
  height: 60px;
  border-radius: 20px;
  color: #00adb5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
#btninstr{
  margin-top: 7%;
  background-color: #393E46;
  font-weight: 300px;
}
#btnlalao{
  margin-top: 9%;
  background-color: tomato;
  font-weight: 300px;
  color: #eee;
}
/*btn niveau*/
#btnmoyen,#btndiff,#btnhelp{
  width:200px;
  height: 60px;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}
#btnmoyen{
  margin-top: 5%;
  background-color: #00adb5;
  color: #eee;
}
#btndiff{
  margin-top: 7%;
  background-color: tomato;
  color: #eee;
}
#btnhelp{
  margin-top: 9%;
  background-color: #222831;
  color: #eee;
}

button{
    width: 80px;
    height: 1.5rem;
    border: 2px solid  #222831 ;
    border-radius: 5px;

}
.choix{
  width: 100px;
  margin: auto;
}
.choix button{
  width: 100px;
  height: 40px;
  border: 2px solid tomato;
  border-radius: 10px;
  background-color: #393E46;
  color: #c6c6c6;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;

}/*for the button afapo*/
#btnafapo,#btnakam,#isa{
  margin: auto;
  width: 100px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #222831;
  color:#c6c6c6;
  font-family:'Courier New', Courier, monospace;
  font-weight: 700;

}
#isa{
  width:100px ;
  margin: auto;
  background-color: #00adb5;
}
#btnafapo{
  margin-top: 2%;
  background-color: #00adb5;
}
#btnakam{
  margin-top: 2.7%;
  background-color: orangered;
}

#rep{
  color: #00adb5;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin: auto;
  width:90px

}
/*for botton  prev*/
#prev{
  width: 30px;
  height: 30px;
  background-color: red;
  margin-right:auto;
  align-items: center;
  position:fixed;
  
  
}

/*for the sabject*/
.suj{
    width:300px;
    margin:auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color:green;
    font-weight: 900;
}
/* for the input*/
#input{
    width: 200px;
    margin: auto;
    height: 50px;
    border: 3px solid green;
    border-radius: 40px;
    height: 20px;
    margin-top: 1%;
}


 /*CSS for the header and footer*/
 :root {
  --body-bg-color: #eee;
  --header-background-color: #000000;
  --secondary-font: "Lato", sans-serif;
  --defination-title-color: #222831;
  --footer-background-color : #393E46;
}


header {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 7rem;
  background-color: rgb(0, 0, 0);
  background-color: #393E46;
  /* position: sticky;
  top: 0;
  left: 0; */
  z-index: 100000;
  /* pointer-events: none;
  touch-action: none; */
  margin-bottom: 3rem;
}

header > div {
  width: calc(100% - 3rem);
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#title {
  width: 100%;
}
#title .parent {
  line-height: 1em;
  color: #00adb5;
}
#title .name {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Slackey", cursive;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #00adb5;
}

#reference {
  display: flex;
}
#reference > a {
  color: #EEEEEE;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#reference > a + a {
  margin-left: 1rem;
}
/* footer css */

footer{
  width: 86vw;
  height: 10rem;
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 4rem;
}

.footer-left {
  width: 20rem;
  height: 10rem;
  
}

.footer-left h3{
  color: #00adb5;
  font-family: "Slackey", cursive;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.footer-left h3 span{
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.footer-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.footer-links a,
.footer-links p{
  color: #eee;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 2rem 0.2rem 1rem;
}



.footer-right{
  width: 20rem;
  height: 13rem;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right h4{
  font-size: 0.9rem;
  color: white;
  margin-bottom: 1.5rem;
}

.footer-company-about{
  font-size: 0.8rem;
  font-weight: 400;
  color: #c6c6c6;
  line-height: 1.3rem;
}

@media (max-width : 760px){

  footer{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100vw;
    height: 30rem;
    align-items: center;
    justify-content: space-around;
  }

  .footer-left{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .footer-right{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-company-about{
    width: 18rem;
    text-align: center;
  }

}

/* media query for the details tag in smaller screen size. */

@media (max-width: 670px) {
  .detail-section {
    flex-direction: column;
  }
}


@media (max-width: 500px){

  #reference {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1rem;
  }

  #reference > a {
    color: #EEEEEE;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
  }

  #reference > a + a {
    margin-left: 0rem;
  }
  
}